<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body {
        width: 100%;
        height: 100%;
      }

      .passwordConatiner {
        padding: 2vh 3vw;
        width: 100%;
        min-height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      .passwordCard {
        width: 25vw;
        border-radius: 0.6vw;
        height: fit-content;
        padding: 0.6vh 0.4vw;
        display: flex;
        border: 1px solid gray;
        overflow: hidden;
      }

      .siteImg {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .siteImg img {
        width: 75%;
      }

      .siteNameAndPass {
        width: 65%;
        display: flex;
        gap: 2vh;
        flex-direction: column;
      }

      .siteName {
        height: 35%;
        font-size: 1.4vw;
        display: flex;
        align-items: center;
      }

      .usernameAndPasswordAndButton {
        display: flex;
        gap: 2vh;
        flex-direction: column;
        height: 65%;
      }

      .usernameAndPassword {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .usernameAndPassword span {
        font-size: 1.25vw;
      }

      .showPasswordBtn {
        display: flex;
        justify-content: center;
      }

      .showPasswordBtn a {
        text-decoration: none;
        border-radius: 25px;
        background-color: #b5b3fb;
        columns: #f0effe;
        padding: 0.4vw;
      }
    </style>
  </head>
  <body>
    <h1>This is profile <%= name%></h1>
    <div class="passwordConatiner">
      <%passwords.forEach((password)=>{ %>
      <div class="passwordCard">
        <div class="siteImg">
          <img src=https://www.<%=password.siteName%>/favicon.ico alt="" />
        </div>
        <div class="siteNameAndPass">
          <div class="siteName"><%=password.siteName%></div>
          <div class="usernameAndPasswordAndButton">
            <div class="usernameAndPassword">
              <span><%=password.userName%></span>
              <span>*******</span>
            </div>
            <div class="showPasswordBtn">
              <a href="#">Show Button</a>
            </div>
          </div>
        </div>
      </div>
      <%}) %>
    </div>

    <script></script>
  </body>
</html>
