.main {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--Primary-Text);
}

.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vh 2vw;
}

.nav .navUserName {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav .userImg {
  display: flex;
  width: 6%;
  border-radius: 50%;
  overflow: hidden;
}

.nav .userImg img {
  width: 100%;
  height: 100%;
}

.nav h2 {
  text-transform: uppercase;
  color: #8b5cf6;
}

.nav button {
  text-decoration: none;
  text-align: center;
  width: 6.5vw;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2vw;
  font-size: 1rem;
  color: var(--Primary-Text);
  font-weight: 600;
  background-color: #e4aae2;
  background: linear-gradient(to right, #e63636, #e53a3a);
  padding: 1vh 1vw;
}

.profileContainer {
  width: 100%;
  height: 90vh;
  display: flex;
}

.profile-left {
  width: 50%;
  height: 100%;
  padding: 2vh 2.8vw;
}

.profile-leftInput {
  position: relative;
  width: 100%;
  height: 10%;
}

.profile-leftInput i {
  position: absolute;
  color: var(--Primary-Text);
  font-size: 1.34rem;
  top: 13.7%;
  left: 1%;
}

.profile-leftInput input {
  width: 100%;
  height: 65%;
  outline: none;
  border: none;
  font-size: 1.34rem;
  padding: 2vh 2.5vw;
  border-radius: 0.5vw;
  color: var(--Primary-Text);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-color);
}

.headingOfpassword {
  width: 100%;
  height: 10%;
  font-size: 1.7rem;
  display: flex;
  font-weight: 300;
  align-items: center;
  margin-bottom: 1.6vh;
  border-bottom: 2px solid var(--border-color);
}

.profile-leftPasswords {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.profile-leftPasswords {
  overflow-y: auto;
  padding-right: 6px;
}

.profile-leftPasswords::-webkit-scrollbar {
  width: 2px;
}

.profile-leftPasswords::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 2px;
}

.passwordCard {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: var(--card-background-color);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6vh;
  border-radius: 0.8vw;
  padding-inline: 0.7vw;
}

.siteName {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.95vh;
}

.siteName p {
  font-size: 1.45rem;
  font-weight: 700;
}

.siteName p:first-child {
  text-transform: capitalize;
}
.siteName p:last-child {
  font-size: 1rem;
  color: var(--Secondary-Text);
}

.copyBtn {
  display: flex;
  gap: 1.2vw;
  padding: 0 1vw 0 0;
}

.copyBtn i {
  font-size: 1.45rem;
  color: var(--Secondary-Text);
  cursor: pointer;
}

.profile-right {
  width: 48%;
  border: 1px solid var(--border-color);
  height: 80%;
  border-radius: 2vw;
  padding: 2vh 2.8vw;
}

.profileRightSitename {
  height: 10%;
  width: 100%;
  padding: 5vh 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.9vh;
  border-bottom: 2px solid var(--card-background-color);
}

.profileRightSitename p:first-child {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
}

.profileRightSitenameBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.profileRightSitenameBtn i {
  font-size: 1.6rem;
}

.profileRightSitenameBtn button {
  /* width: 40%; */
  padding: 0.7vh 1.2vw;
  background-color: #8b5cf6;
  color: var(--Primary-Text);
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 5vw;
}

.siteuserName,
.sitePassword,
.siteURL {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.74vh;
}

.siteuserName p,
.sitePassword p,
.siteURL p {
  font-size: 1.7rem;
}

.siteuserName p:last-child,.sitePassword p:last-child,
.siteURL p:last-child {
  font-size: 1.2rem;
  color: var(--Secondary-Text);
}
